<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>    
<body class="home">
    <div class="login">
       <h1 class="main-title">Employment Success Estimator</h1>

       <form action="{{ url_for('predict_employment') }}" method="post">

        <div class="mb-3">
            <label class="form-label">CGPA</label>
            <input class="form-control" type="text" name="CGPA" placeholder="Enter your CGPA" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Number of Internships done</label>
            <input class="form-control" type="text" name="Internships" placeholder="Enter number of internships done" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Number of Projects done</label>
            <input class="form-control" type="text" name="Projects" placeholder="Enter number of projects done" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Number of Certifications done</label>
            <input class="form-control" type="text" name="Certifications" placeholder="Enter number of certifications done" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Aptitude Test Score (0 - 100)</label>
            <input class="form-control" type="text" name="Aptitude_Test_Score" placeholder="Enter aptitude score" min="1" max="100" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Soft Skills Rating (0 - 5)</label>
            <input class="form-control" type="text" name="Soft_Skills_Rating" placeholder="Enter soft skills rating" min="0" max="5" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Participated in Extracurricular Activities</label>
            <select class="form-control" name="Extracurricular_Activities" required>
                <option class="placeholder" selected disabled value="">Your Status</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Attended Placement Training</label>
            <select class="form-control" name="Placement_Training" required>
                <option class="placeholder" selected disabled value="">Your Status</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">SSC Percentage</label>
            <input class="form-control" type="text" name="SSC_Marks" placeholder="Enter SSC Percentage" required />
        </div>

        <div class="mb-3">
            <label class="form-label">HSC Percentage</label>
            <input class="form-control" type="text" name="HSC_Marks" placeholder="Enter HSC Percentage" required />
        </div>

        <div class="mb-3">
            <input class="btn" type="submit" value="Predict Employment Status" />
        </div>
    </form>

    <h2>The Candidate is {{ results }}</h2>
    </div>
</body>
</html>
